.useful_con{
    background-color: white;
    display: flex;
    height: 68px;
   
    padding-left:20px ;
    align-items: center;
}

.userful_text{
    width: 226px;
    font-size: 32px;
    color: #000000d5;
}

.like{
    background-color: white;
    border: solid 1px #F2F2F2;
    line-height: 50px;
    text-align: center;
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.like_img{
    width: 34px;
    height: 34px;
}

.unlike{
    background-color: white;
    border: solid 1px #F2F2F2;
    line-height: 50px;
    text-align: center;
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.unlike_img{
    width: 34px;
    height: 34px;
}