


.empty_box{
    width: 200px;
    height: 200px;
}

.empty_img{
    text-align: center;
}

.empty_text{
    text-align: center;
    font-size: 28px;
    color: #bababa;
}

.empty_btn{
    width: 300px;
    margin: 0 auto;
    padding-top: 20px;
}

