.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  text-align: center;
  width: 710px;
  height: 56px;
  border-radius: 12px;
}

.search_text {
  font-size: 30px;
  color: #bababa;
  margin-left: 10px;
}

.search_input {
  width: 710px;
  height: 56px;
}
